[flake8]
# Ignore specific error codes globally
ignore = E203, W503, E501
# Completely exclude files or directories from being checked
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    migrations/
# Ignore specific codes only in specific files
per-file-ignores =
    __init__.py: F401
    tests/*: E241ce

[mypy]
# Completely exclude paths using a regular expression (regex)
exclude = (?x)(
    ^build/
    | ^dist/
    | ^migrations/
  )
# Ignore missing type stubs from third-party libraries
ignore_missing_imports = True
